@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #4649a0;
    background-color: #4649A0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}



.container {
    /* border: 1px solid black; */
    width: 85%;
    margin: 30px auto;
    /* position: relative; */
}

/* navbar */

nav {
    background-color: #4649a0;
    display: -ms-grid;
    display: grid;
    position: fixed;
    /* top: 0; */
    bottom: 5px;
    right: 15px;
    left: 15px;
    padding: 0 5px;
    height: 51px;
    -ms-grid-columns: (minmax(50px, 60px));
        grid-template-columns: repeat(4, minmax(50px, 60px));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-column-align: center;
        justify-items: center;
    -ms-grid-row-align: center;
        align-items: center;
    /* border-top-left-radius: 5px;
   border-top-right-radius: 5px; */
    border-radius: 30px;
    z-index: 2;
}

nav svg {
    color: #9394d6;
    /* background-color: red; */
    /* fill: none; */
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-circle {
    background: url('../svg/bg.svg'), #4649a0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mobile-view {
    width: 400px;
    height: 100%;
    overflow: auto;
    position: relative;
    margin: auto;
}

@media only screen and (max-width: 768px) {

    .mobile-view {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        margin: auto;
    }
}

.auth-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
}

.first {
    position: absolute;
    bottom: 1000px;
    -webkit-transition: 1s;
    transition: 1s;
}

.first.is-active {
    position: absolute;
    top: 25vh;
    -webkit-transition: 1s;
    transition: 1s;
}

.second {
    position: absolute;
    top: 1000px;
    -webkit-transition: 1s;
    transition: 1s;
}

.second.is-active {
    position: absolute;
    top: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

.thirt {
    position: absolute;
    top: 1000px;
    -webkit-transition: 1s;
    transition: 1s;
}

.thirt.is-active {
    position: absolute;
    top: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

.text-center {
    text-align: center;
}

.text-secondary {
    color: #B4B5D4;
    margin-top: 10px;
}

.text-secondary h4 {
    font-weight: 500;
    letter-spacing: .5px;
}

.text-primary {
    color: #4649a0;
}

.btn {
    border-radius: 30px 30px 30px 30px;
    padding: 15px 25px;
}

.btn-white {
    background-color: #fff;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    color: #4649a0;
    -webkit-transition: .4s ease-in-out all;
    transition: .4s ease-in-out all;
    outline: none;
}

.btn-white:hover {
    /* transition: 1s; */
    -webkit-transform: scale(.95);
            transform: scale(.95);
    /* color: #6669cf; */
    /* border: 1px solid #4649a0; */
    /* background-color: rgb(219, 219, 219); */
}

.mt-20 {
    margin-top: 20px;
}

.mt-100 {
    margin-top: 100px;
}

.d-none {
    display: none;
}

.second {
    position: relative;
    height: 100%;
    width: 100%;
}

.second h2 {
    margin: 20px 0 0 0;
}

.second h3 {
    margin: 10px 0px 30px 0;
    font-size: 16px;
}

.second .card {
    height: 80%;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-radius: 40px 40px 0px 0px;
}


.second .icon {
    margin: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}

.second .icon-item {
    margin: 0px 10px;
}

.font-ligher {
    font-weight: 500;
}

.second .form {
    width: 100%;
    height: 100%;
    position: relative;
}

.second .form-group {
    padding: 10px 30px;
    padding-right: 0px;
    border-radius: 90px 90px 90px 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0px;
    background-color: #fcfcfc;
    /* border: 1px solid red; */
}



.second .form-group .icon {
    width: 20px;
    height: 20px;
    margin: auto 10px;

}

.second .form-group input {
    width: 80%;
    padding: 5px 10px;
    padding-right: 0px;
    background: none;
    border: none;
    color: #4649a0;
}

.second .form-group:hover {
    border: 1px solid #4649a0;
}


.second .form-group input:focus {
    background: none;
    border: none;
    outline: none;
}

.second .btn {
    border-radius: 30px 30px 30px 30px;
    padding: 15px 25px;
    width: 100%;
}

.btn-primary {
    background-color: #4649a0;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    color: #fff;
    -webkit-transition: .4s ease-in-out all;
    transition: .4s ease-in-out all;
    outline: none;
    cursor: pointer;
}

.btn-primary:hover {
    /* transition: 1s; */
    -webkit-transform: scale(.95);
            transform: scale(.95);
}