@import './styles/home.css';
@import './styles/kerajinan.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.container {
	/* border: 1px solid black; */
	width: 90%;
	margin: 20px auto;
}


/* navbar */

nav {
   background-color: #4649a0;
   display: grid;
   position: fixed;
   /* top: 0; */
   bottom: 5px;
   right: 15px;
   left: 15px;
   padding: 0 5px;
   height: 51px;
   grid-template-columns: repeat(4, minmax(50px, 60px));
   justify-content: space-between;
   justify-items: center;
   align-items: center;
   /* border-top-left-radius: 5px;
   border-top-right-radius: 5px; */
   border-radius: 30px;
}



nav svg {
   color: #9394d6;
   /* background-color: red; */
   /* fill: none; */
   transition: .3s ease all;
}