.cartEl {
   position: relative;
   /* border: 1px solid blue; */
   /* height: 90vh; */
}

.cartContainer {
   display: grid;
   /* justify-content: center; */
   /* align-content: center; */
   justify-items: center;
   /* margin-bottom: 70px; */
   /* border: 1px solid red; */
   /* height: 500px; */
}

.cartItem {
   display: grid;
   /* grid-template-columns: 20% 60% 20%; */
   grid-template-columns: 70px auto 90px;
   grid-template-rows: 70px;
   /* border: 1px solid red; */
   margin: 20px 0 0 0;
   padding: 10px 10px;
   background-color: #E3E4F7;
   border-radius: 10px;
   /* justify-items: spac; */
   align-items: center;
   width: 260px;
   /* width: 100%; */
   align-content: center;
   /* justify-content: space-between; */
   /* gap: 10px; */
   box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);
   position: relative;
}

.cartItemImg img {
   width: 80%;
   /* background-color: red; */
}

.cartItemImg {
   display: grid;
   justify-items: center;
   align-items: center;
   /* width: 100%; */
   /* height: 100%; */
   background-color: #F8F8F8;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 5px;
   width: 66px;
   height: 66px;
   /* margin-right: ; */
}

.cartItemNamePrice {
   /* border: 1px solid red; */
   padding-left: 15px;
   /* position: absolute; */
   /* width: 100%; */
   width: max-content;
}

.cartItemNamePrice h2{
   /* width: 100%; */
   /* border: 1px solid red; */
   font-size: 1em;
   margin-bottom: 5px;
   /* position: absolute; */
   /* top: 15px; */
}
.cartItemNamePrice h4{
   font-weight: 400;
}

.cartCheck {
   /* border: 1px solid red; */
   /* width: 100%; */
   /* width: 66px; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   height: 66px;
   /* padding: 5px; */
   justify-self: end;
   position: absolute;
   right: 10px;
}

.cartCheck .quantity {
	display: flex;
	/* border: 1px solid red; */
	/* width: 100%; */
	justify-content: center;
	align-items: center;
}

input[type=checkbox] {
   transform: scale(1.3);
}

.cartCheck .quantity input {
	width: 20px;
	/* padding: 5px; */
   margin: 0 10px;
   text-align: center;
}

.cartCheck .quantity .qButton {
	color: white;
	background-color: #4649a0;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1); */
	transition: 0.3s ease-in-out all;
	cursor: pointer;
}

.cartCheck .quantity .qButton h2 {
	font-weight: 400;
}

.ifCartKosong {
   /* border: 1px solid red; */
   margin-top: 30px;
}


.cartTotalPayment {
   display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	/* border: 1px solid red; */
	align-items: center;
	justify-items: center;
	border-radius: 5px;
	margin: 20px 0 65px 0;
   gap: 5px;
   /* position: fixed;
   bottom: 40px;
   left: 0;
   right: 0; */
   /* background-color: white; */
}

.paymentButton {
   background-color: #4649a0;
	color: white;
	padding: 12px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	display: flex;
	align-items: center;
	width: 80%;
	justify-content: center;
   transition: 0.5s ease-in-out all;
   font-weight: 600;
}

.paymentButton:hover {
   background-color: #383a80;
}

.totalPayment {
   /* background-color: thistle; */
   width: 80%;
   padding: 2px 5px;
	border-radius: 5px;
}

.deleteButton {
   /* margin-top: 10px; */
   cursor: pointer;
   text-align: center;
   width: max-content;
   margin: 0 auto;
   padding-top: 10px;
}

.deleteButton p {
   font-size: .9em;
}

.deleteButton p:hover {
   text-decoration: underline;
}