.infoPesananContainer {
   margin: 20px 0 65px 0;
   padding: 0 15px;
}



.infoPesananContainer .body .addressText {
   display: inherit;
}

.statusEl {
   margin-top: 20px;
}

.statusEl p{
   margin-top: 15px;
}


/* button */
.infoPesananButtonContainer {
   margin: 50px 0;
}

.infoPesananButtonContainer .but {
   border: 1px solid #4649a0;
   margin-top: 10px;
   padding: 12px;
   text-align: center;
   border-radius: 5px;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 13px;
   -webkit-transition: 0.5s ease-in-out all;
   transition: 0.5s ease-in-out all;
   cursor: pointer;
}
.infoPesananButtonContainer .but.orderID p{
   font-size: 15px;
   font-weight: 700;
}
.infoPesananButtonContainer .lacak {
   background-color: #4649a0;
   color: white;
}

.infoPesananButtonContainer .lacak:hover{
   background-color: #383a80;
}

.totalPaymentEl {
   margin-top: 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
}