.pelacakan .pelacakan-detail {
    width: 100%;
    height: 80vh;
    position: relative;
}

.pelacakan .pelacakan-detail iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pelacakan .pelacakan-detail .card {
    width: 101%;
    height: 45%;
    background: white;
    position: absolute;
    bottom: -50px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
}

.pelacakan .pelacakan-detail .card .line {
    width: 20%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 30px 30px 30px 30px;
    position: absolute;
    top: 20px;
    right: 40%;
}

.pelacakan .pelacakan-detail .card .driver {
    display: flex;
    align-items: center;
    margin: 40px 20px;
}

.pelacakan .pelacakan-detail .card .driver .image img {
    width: 50px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

.pelacakan .pelacakan-detail .card .driver .driver-profile {
    margin: 0px 20px;
}

.pelacakan .pelacakan-detail .card .driver .driver-profile h4 {
    margin: 5px 0px;
}

.pelacakan .pelacakan-detail .card .driver .icon {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.pelacakan .pelacakan-detail .card .driver .icon .icon-item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #4649A0;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.pelacakan .pelacakan-detail .card .track {
    display: flex;
    margin: 0px 20px;
}

.pelacakan .pelacakan-detail .card .track .lines {
    height: auto;
    width: 3px;
    background: #4649A0;
    margin: 5px 10px;
    position: relative;
}

.pelacakan .pelacakan-detail .card .track .lines::before {
    height: 10px;
    width: 10px;
    background: #4649A0;
    margin: 10px;
    content: 'a';
    overflow: hidden;
    position: absolute;
    border-radius: 99px;
    top: -10px;
    right: -13.5px;
}

.pelacakan .pelacakan-detail .card .track .lines::after {
    height: 10px;
    width: 10px;
    background: #4649A0;
    margin: 10px;
    content: 'a';
    overflow: hidden;
    position: absolute;
    border-radius: 99px;
    bottom: -10px;
    right: -13.5px;
}

.pelacakan .pelacakan-detail .card .track .track-detail {
    margin-left: 10px;
}

.pelacakan .pelacakan-detail .card .track .track-detail .track-item {
    margin-left: 10px;
    margin: 10px 0px;
}