.paymentContainer {
   margin: 20px 0 60px 0;
   /* border: 1px solid red; */
   padding: 0 15px;
}

.head {
   /* border: 1px solid orange; */
   display: flex;
   justify-content: space-between;
}

.head p {
   font-size: 1.01em;
}

.head h4 {
   font-size: 1.02em;
}

.head p:hover {
   text-decoration: underline;
   cursor: pointer;
}

.body {
   margin-top: 15px;
   font-size: .9em;
}

.body .addressText {
   display: none;
}

textarea{
   width: 100%;
   height: 70px;
   border: .1px solid #4649a0;
   color: #4649a0;
   padding: 10px;
   box-sizing: border-box;
   font-weight: 400;
   font-family: 'Montserrat';
}


/* shipping */

.shippingEl {
   margin-top: 20px;
}

.opsi ul li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
}

.paymentEl {
   margin-top: 20px;
}